<form [formGroup]="loginForm">
    <h4>{{ formTitle }}</h4>
    <!-- Enter your username -->
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" size="30" formControlName="username" 
            placeholder="Enter your username..." required minlength="2">
    </div>

    <!-- Check if user has clicked fields and if values fail to validate -->
    <div *ngIf="username.invalid && (username.dirty || username.touched)"><br>

        <div *ngIf="username.errors.required">
            Username is required.
        </div>

        <div *ngIf="username.errors.minlength">
            Username must be at least 2 characters long.
        </div>

        <div *ngIf="username.errors.email">
            Username must be an email.
        </div>

    </div>

    <br>
    <!-- Enter your password -->
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" size="30" formControlName="password"  
            placeholder="Enter your password..." required minlength="6">
    </div>

    <!-- Check if user has clicked fields and if values fail to validate -->
    <div *ngIf="password.invalid && (password.dirty || password.touched)"><br>

        <div *ngIf="password.errors.required">
            Password is required.
        </div>

        <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters long.
        </div>

        <div *ngIf="password.errors.maxlength">
            Password can't be over 30 characters long.
        </div>

    </div>

    <br>
    <br>
    <button type="button" (click)="onLoginClicked()" [disabled]="isLoading || loginForm.invalid">Login</button>

    <div *ngIf="isLoading">
        <p>Attempting to log in.</p>
    </div>
</form>