<form [formGroup]="registerForm">
    <h4>{{ formTitle }}</h4>
    <!-- Enter your username -->
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" size="30" formControlName="username" 
            placeholder="Enter your username..." required minlength="2">
    </div>

    <!-- Check if user has clicked fields and if values fail to validate -->
    <div *ngIf="username.invalid && (username.dirty || username.touched)"><br>

        <div *ngIf="username.errors.required">
            Username is required.
        </div>

        <div *ngIf="username.errors.minlength">
            Username must be at least 2 characters long.
        </div>

        <div *ngIf="username.errors.email">
            Username must be an email.
        </div>

    </div>

    <br>
    <!-- Enter your password -->
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" size="30" formControlName="password"  (keyup)="onPasswordChange()" 
            placeholder="Enter your password..." required minlength="6">
    </div>

    <!-- Check if user has clicked fields and if values fail to validate -->
    <div *ngIf="password.invalid && (password.dirty || password.touched)"><br>

        <div *ngIf="password.errors.required">
            Password is required.
        </div>

        <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters long.
        </div>

        <div *ngIf="password.errors.maxlength">
            Password can't be over 30 characters long.
        </div>

    </div>

    <br>
    <!-- Confirm your password -->
    <div>
        <label for="confirmPassword">Confirm Password: </label>
        <input type="password" name="confirmPassword" id="confirmPassword" size="30" formControlName="confirmPassword" 
            (keyup)="onPasswordChange()" placeholder="Please confirm your password..." required><br>
    </div>

    <!-- Check if user has clicked fields and if values fail to validate -->
    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"><br>

        <div *ngIf="confirmPassword.errors.required">
            Password confirmation is required.
        </div>

        <div *ngIf="confirmPassword.hasError('mismatch') && (confirmPassword.dirty || confirmPassword.touched)">
            The passwords must match.
        </div>

    </div>    

    <br>
    <br>
    <button type="button" (click)="onRegisterClicked()" [disabled]="isLoading || confirmPassword.hasError('mismatch') || registerForm.invalid">Register</button>
    
    <div *ngIf="isLoading">
        <p>Attempting to register your account.</p>
    </div>
</form>